.star {
    position: relative;
    display: inline-block;
    font-size: 3rem;
    color: #d3d3d3;
  }
  .full {
    color: red;
  }
  .half {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    color: red;
  }
  

@media (max-width: 765px) {
  .btn-group {
    display: block;
  }
  .btn {
      width: 100%;
  }
  .dropup {
    width: 100%;
  }
  nav .dropdown {
    width: 100%;
  }
  nav .dropdown a {
    text-align: center;
  }
}