<div class="margin-test">
    A Special Thanks to all the following websites:
    <p>
      <span>&nbsp;</span>
    </p>
    <p>
      <a href="http://leaverou.github.io/animatable/">Animatable</a>
    </p>
    <p>
      <a href="https://codepen.io/chris-paterson/pen/rebwLY">Outrun 1</a>
    </p>
    <p>
      <a href="https://codepen.io/anon/pen/eXjJNj">Outrun 2</a>
    </p>
    <p>
      <a href="https://www.w3schools.com/graphics/svg_intro.asp">SVG Reading</a>
    </p>
    <p>
      <a href="https://css-tricks.com/almanac/properties/a/animation/">CSS Tricks</a>
    </p>
    <p>
      <a href="https://www.w3schools.com/cssref/css_animatable.asp">CSS Animatable Reference</a>
    </p>
</div>